<h1>Dog's edit page </h1>

<%= form_for @dog, url: { action: "update"} do |f| %>
    <%= f.label :Name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :Age %>
    <%= f.text_field :age %>
    <br>
    <%= f.label :Breed %>
    <%= f.text_field :breed %>
    <br>
    <%= f.label :Hobbies %>
    <%= f.text_field :hobbies %>
    <br>
    <%= f.label :Bio %>
    <%= f.text_field :bio %>
    <br>
    <br>
    <%= f.submit "Update" %>
    <br>
    <br>
    <%= link_to "Cancel", user_dog_path(@user, @dog) %>
<br>
<% end %>