<h1> Create Dog Profile </h1>

<%= form_for @dog, url: { action: "create" } do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @dog} %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :age %>
  <%= f.number_field :age %><br>
  <%= f.label :breed %>
  <%= f.text_field :breed %><br> 
  <%= f.label :hobbies %>
  <%= f.text_field :hobbies %><br> 
  <%= f.label :bio %>
  <%= f.text_field :bio %><br> 
  <br>
  <br>
  <%= f.submit "Submit"%>
  <br>
  <br>
  <%= link_to "Cancel", user_path(@user) %>  
<% end %>