
<%# <% if @dog.empty? %> 
    <%# <h1> Do something</h1> %>
<%# <% else %> 

Name: <%= @dog.name %>
<br>
Age: <%= @dog.age %>
<br>
Breed: <%= @dog.breed %>
<br>
Hobbies: <%= @dog.hobbies %>
<br>
Bio: <%= @dog.bio %>
<br> 
<br>
<br>

<br> 

    <%= link_to "See Photo", dog_photos_path(@dog) %>
<br>

<br>
<br>
<br>
<%= link_to 'Edit', edit_dog_path(@dog) %>
<br>
<br>
<%= link_to 'Delete', dog_path(@dog), method: :delete %> 


