
<div>
Name: <%= @dog.name %>
<br>
Age: <%= @dog.age %>
<br>
Breed: <%= @dog.breed %>
<br>
Hobbies: <%= @dog.hobbies %>
<br>
Bio: <%= @dog.bio %>
</div>
<br> 
<br>
<br>
<%= link_to "See Photos", user_dog_photos_path(@user, @dog) %>
<br>
<%= link_to 'Edit', edit_user_dog_path(@user, @dog) %>
<br>
<%= link_to 'Delete', user_dog_delete_path(@user, @dog), method: :delete %>
<br>
<br>
<%= link_to 'Done', user_path(@user) %>


