<% if logged_in? && (@dog.user == current_user) %> 


<h1>Photos of <%= @dog.name %> </h1>
<ul>
  <% @photos.each do |photo| %>
    <% comments = photo.comments %>
    <% comment_text = '' %>
    <% if comments.count > 0 %>
      <% comments.each.with_index(1) do |cmt, idx| %>
        <% if cmt.content.length > 0 %>
          <% if idx == 1 %>
            <% comment_text = "#{idx}. " + cmt.content %> 
          <% else %>
          <% comment_text = comment_text + "&#13;&#10;#{idx}. "+ cmt.content %> 
          <% end %>   
        <% end %>
      <% end %>
      <% else %>
        <% comment_text ="No Comment Yet!" %>
      <% end %> 
    <li>
      <div>
        <% if photo.image_file.attached? %>
          <span style="color:#1c87c9"><%= photo.caption %></span> </p>
          <div style="height: 165px;width: 360px;">
            <span style="display: inline-block"><%= image_tag(photo.image_file, width: 128) %></span>
            <div style="display: inline-block;height: 100%;width: 62%;" ><textarea style="display: inline-block;height: 100%;width: 100%;"><%= comment_text.html_safe() %></textarea></div>
          </div>
          <% new_comment = Comment.new %>
          <%=form_with model: new_comment, url: photo_comments_path(photo) do |f|%>

           <%= render partial: 'layouts/errors', locals: {object: new_comment} %>

            <h5>Enter your comment below ↓</h5>
            <strong><%=f.text_field :content,size: 50, placeholder: "type your comment on this line"%> </strong>
            <%= f.submit "comment" %>
          <% end %>
        <% else %>
            "No Photo"
        <% end %>
      </div>
    </li>
    <br>
  <% end %>
</ul>
<br>
<% if @dog.photos.count < 5 %>
  <%= link_to "Add More Photo", new_user_dog_photo_path(@user, @dog) %> 
<% end %>  
<br>
<br>  
<%= link_to "Done", user_dog_path(@user, @dog) %> 
<br>
<br>
<br>
<% else%> 
    <h1>not your page</h1>
<%end %>



