<% if logged_in? && (@dog.user == current_user) %> 

<h1> List of photos of <%= @dog.name %> </h1>
<ul>
  <% @photos.each do |photo| %>
    <li>
      <div>
        <% if photo.image_file.attached? %>
        <span style="color:#1c87c9"><%= photo.caption %></span> </p>
          <%= image_tag(photo.image_file, width: 128) %>
          <% else %>
            "No Photo"
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<br>
<% if @dog.photos.count < 5 %>
  <%= link_to "Add More Photo", new_dog_photo_path(@dog) %> 
<% end %>  
<br> 
<%= link_to "Done", dog_path(@dog) %> 

<%# comment section %>

<%=form_with model: [@photo, Comment.new ] do |f|%>
<h5>Enter your comment below ↓</h5>
<strong><%=f.text_field :content, placeholder: "type your comment on this line"%> </strong>

<%=f.submit "comment"%>
<br>
<br>
<br>
<%end%>

<% else%> 
    <h1>not your page</h1>
<%end %>



